<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Organize your day / week with a modern todo list.">
      <meta name="keywords" content="ToDo list">
  <meta name="author" content="O.K.">
  <title>To Do List</title>
  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
